@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main-page {
  background: #3C3A39;    
  border: #3C3A39;
  display: flex;
  flex-direction: column;
}

/*.main-header a:hover{
  color:white
}
*/
.main-header {
  align-items: center;
  height: 92px;
  display: flex;
  /*border:10px solid goldenrod;*/
  justify-content: space-between;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #1C1A19;
  height: 590px;
  /*
  padding: 120px 24px;
  gap: 12px;
  
  position: absolute;
  width: 375px;
  
  left: 0px;
  top: 92px;
*/
}

.union {
  margin-right: 5%;
}

.main-title {

}

.vector {
  width: 20px;
  height: 3px;
  border: 2px solid #ACB7C3;
  margin-bottom: 3px;
}

.header-text { 
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;  
  padding-left: 30px;
  align-self: flex-end;
  text-align: center;
}
